{% extends 'main.html' %}
{% block content %}

<div class="container">
    <div class="row mt-3">
        <!-- Content -->
        <div class="col-md-9 pr-1">
            <div class="content-box bg-white p-4">


                    <div id="view" class="articles-body mt-4">
                        {{aboutContent | safe}}
                    </div>
                
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 pl-1">


            <div class="content-box bg-white p-4 h-100">
                <h4 class="section-heading m-0" style="margin-top:20px;">
                <span class="heading-text ">Recents Posts</span>
                </h4>
                <br>

                {% if relatedPosts %}
                    {% for post in relatedPosts %}
                    <div class="card" style="width: 100%;">
                        <a href="/pages/{{post.id}}" class="data-anchor">
                            <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                            </div>
                        </a>
                    </div>
                    <br>
                    {% endfor %}

                {% else %}
                    <p>No Recents Posts</p>
                {% endif %}



            </div>




        </div>
    </div>

</div>

{% endblock content %}