{% extends 'main.html' %}

{% block content %}

<br>

<div class="content-wrapper">


    <div class="container">

        <div class="section">

            <h4 class="section-heading">
            <span class="heading-text">Search Result for: {{query}}</span>
            </h4>

            <div class="section-inner">
                <div class="row">

                {% if posts %}
                {% for post in posts %}
                <div class="col-md-3 mb-3">
                    <div class="post bg-white">
                        <a href="/pages/{{post.id}}">
                            <div class="thumbnail">
                                <img src="{{post.image}}" alt="" width="100%">
                            </div>
                        </a>

                        <div class="caption1">
                            <ul class="links">
                                <li class="cat">
                                <a class="cat-link" href="/pages/{{post.id}}" alt="View all posts" tabindex="0"> {{item.name}}  </a>
                                </li>
                            </ul>
                        </div>

                        <div class="data">
                            <a class="data-anchor" href="/pages/{{post.id}}">
                                <h3 class="post-title">{{post.title}}</h3>
                                <span class="post-date">
                                <i class="fa fa-clock-o"> </i>  {{post.created}}
                                </span>

                                <div class="post-description">
                                    {{post.content | safe}}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                    <p class="p-3">No Posts found.</p>
                {% endif %}

                </div>
                <!-- Row End -->


            </div>



        </div>
   





    </div>
</div>


{% endblock content %}